{% extends 'base.html' %}

{% load crispy_forms_tags %}

<div class="d-flex justify-content-center">
  {% block content %}
  <h1 class="text-center">Welcome</h1>
  <p class="text-center">
    Login here!
  </p>
  <div class="container">
    <form method="POST">
      <div class="form-group">
        {% csrf_token %}
        {{ form|crispy}}
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>

    <p>If you are not registered, please register by clicking <a href="/register">here</a></p>
  </div>
  {% endblock  %}
</div>